@model List<ProductModel>
@{
	var count = 0;
}

<section class="collection-grid">
	<div class="container">
		<div class="title">@ViewData["CollectionTitle"]</div>
		<div class="item-collection">
			
			@foreach(var item in Model)
			{
				if (count < 8)
				{
					<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" model="@item" />
					count++;
				}
				else
					break;

			}
		</div>
	</div>
</section>